@use '../../../styles/variables' as *;

.page {
  display: flex;
  flex-direction: column;
  gap: $space-xl;
}

.title {
  font-size: $font-size-xl;
  font-weight: $font-weight-semibold;
  color: $color-navy;
}
